# Mapbox Access Token
NEXT_PUBLIC_MAPBOX_TOKEN=your_mapbox_token_here

# Optional: Mapbox Style URL
NEXT_PUBLIC_MAPBOX_STYLE=mapbox://styles/mapbox/dark-v11

# Optional: Mapbox User (for tileset)
NEXT_PUBLIC_MAPBOX_USER=yuletide
